@use "./variables" as vars;
@use "./mixins" as *;
@use "./globals";
@use "./icons";

// Components
@use "./Dock";
@use "./MenuBar";
@use "./ContextMenu";

// Settings_Components
@use "./_Settings/Settings";
@use "./_Settings/WiFiSettings";

@use "./BootScreen";
@use "./Finder";
@use "./_ControlCenter";
@use "./AppWindow/AppWindows";
@use "./_AboutThisMac/ATM";

// APP
@use "./_NotesWindow/Notes";
@use "./_Musics/Music";
@use "./_Terminal/Terminal";

body {
  margin: 0;
  background: #05070f;
  font-family: system-ui, -apple-system, sans-serif;
}

