@use "./variables" as vars;
@use "./mixins" as *;
@use "./globals";
@use "./icons";

// Components
@use "./Dock";
@use "./MenuBar";
@use "./Settings_Sections/Settings";
@use "./BootScreen";
@use "./Finder";
@use "./_ControlCenter";
@use "./AppWindow/AppWindows";
@use "./AboutThisMac/ATM";

body {
  margin: 0;
  background: #05070f;
  font-family: system-ui, -apple-system, sans-serif;
}

