@use "./variables" as vars;

.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;

  background: vars.$color-menubar-bg;
  backdrop-filter: blur(40px) saturate(1.8);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 6px;
  z-index: 9999;

  color: vars.$color-white;
  user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
  font-weight: 500;

  border-bottom: 1px solid vars.$color-menubar-border;
}

.menuBar__left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.menuBar__itemWrapper {
  position: relative;
}

.menuBar__item {
  display: inline-flex;
  align-items: center;
  padding: 2px 9px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  color: vars.$color-menubar-item;
  transition: background 0.12s ease;

  &.isApple {
    font-size: 18px;
    color: vars.$color-white;
  }

  &.isBold {
    font-weight: 600;
  }

  &.isClickable {
    cursor: pointer;
    &:hover {
      background: vars.$color-menubar-item-hover;
    }
  }

  &.isActive {
    background: vars.$color-menubar-item-active;
  }
}

.menuBar__dropdown {
  position: absolute;
  top: 28px;
  left: 0;

  min-width: 160px;

  background: vars.$color-dropdown-bg;
  border: 1px solid vars.$color-dropdown-border;
  border-radius: 12px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);

  padding: 6px 0;
  z-index: 10000;
}

.menuBar__dropdownItem {
  padding: 9px 14px;
  font-size: 12px;
  color: vars.$color-text-primary; // почти белый
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.12s ease;

  &:hover {
    background: vars.$color-dropdown-item-hover;
  }
}

.menuBar__right {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 13px;
}

.menuBar__iconImg {
  width: 18px;
  height: 18px;
  object-fit: contain;
  opacity: 0.9;
  filter: brightness(1.1) invert(1);
  display: flex;
  align-items: center;
}